<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <RuntimeIdentifier>win-arm64</RuntimeIdentifier>
    <PlatformTarget>ARM64</PlatformTarget>
    <SelfContained>true</SelfContained>
    <PublishSingleFile>false</PublishSingleFile>
    <PublishReadyToRun>false</PublishReadyToRun>
    <PublishTrimmed>false</PublishTrimmed>
    <DebugType>none</DebugType>
  </PropertyGroup>
</Project>
